.list {
    list-style-type: none;
}

.list-header {
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

.img {
    width: 150px;
    height: 150px;
}

.inline {
    display: inline-block;
}

.block {
    width: 500px;

}

.icons {
    width: 17px;
    height: 17px;
}

.count {
    margin-left: 5px;
    font-size: 22px;
}